<header>
    <h1><%= @t_type.capitalize%> Tickets</h1>
</header>
<section>
  <div class="list-group">
  <% if @tickets.present? %>
    <% @tickets.each do |ticket|%>
      <a href="/ticket_detail/<%= ticket.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= ticket.subject %></h5>
          <small class="text-muted"><%= distance_of_time_in_words(ticket.created_at, Time.now)%> ago</small>
        </div>        
        <p class="mb-1"><%= ticket.message %></p>
        <%if current_user.user_type == "agent" %>
          <h5 class="text-muted" onclick="change_ticket_status('<%= %>')">Respond to this ticket</h5>
        <%end%>
      </a>
    <% end %>
  <%else%>
    <p>
      No Tickets Added
    </p>
  <%end%>
  </div>
</section>